@import 'modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* ----------------- Base -----------------*/
:root {
    --color-one: #0F172A;
    --color-two: #FFFFFF;
}

* {
    font-family: 'Inter', sans-serif;;
}
